<div class="container" style="width: 30%;">
    <div></div>
    <div class="row align-items-center row-principal">
        <div class="col-12" style="text-align-last: center">
            <div class="row">
                <div class="col h4">
                        BARBEARIA
                </div>
                
            </div>
            <div class="row">
                <div class="col-12 h4">
                    AGENDE SEU HORÁRIO!
                </div>
                <br><br><br>
                <div class="col-12 h6">
                    Cliente
                </div>
                <br>
            </div>
            <button mat-flat-button color="primary">AGENDAR HORÁRIO</button>
            <br><br>
            <div class="row">
                <div class="col-12 h6">
                    Ou
                </div>
            </div>
            <button mat-flat-button color="warn">ACESSAR PAINEL</button>
        </div>
    </div>
    <div></div>
</div>
