<div class="container" style="width: 30%;">
    <div></div>
    <div class="row align-items-center row-principal">
        <div class="col-12" style="text-align: end;">
            <i class="fa-solid fa-left-long"></i>
            <button mat-button color="primary">Voltar</button>
        </div>
        <br>
        <div class="col-12" style="text-align: -webkit-center;">
            <div class="row">
                <div class="col h4">
                        LOGIN
                </div>
            </div>
            <div class="row">
                <div class="col-12 h4">
                    BARBEARIA
                </div>
                <br><br><br>
            </div>
            <div class="row" style="place-content: center;">
                <mat-form-field appearance="outline">
                    <mat-label>Login</mat-label>
                    <input matInput placeholder="Login">
                </mat-form-field>
            </div>
            <div class="row" style="place-content: center;">
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" placeholder="Senha">
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary">ENTRAR</button>
            <br><br>
            <button mat-button color="primary">CADASTRAR BARBEIRO</button>
        </div>
    </div>
    <div></div>
</div>
